{% extends 'base2.html' %}
{% load static %}
{% block content %}
<div class="info">
    <h1 class="semi-title" style="color: black;">사회적거리두기 <span style="color: #3456DA;">4단계</span> 안내</h1>
    <div class="levelMatrix">
        <table>
            <tr>
                <th>기준</th>
                <td>
                    <ul>
                        {% for level4 in level4.all %}
                        {% if level4.level == '4' %}
                        <p>{{ level4.criterion }}</p>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>사적모임수칙</th>
                <td>
                    <ul>
                        {% for level4 in level4.all %}
                        {% if level4.level == '4' %}
                        <p>{{ level4.privateMeetingRule }}</p>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>행사수칙</th>
                <td>
                    <ul>
                        {% for level4 in level4.all %}
                        {% if level4.level == '4' %}
                        <p>{{ level4.festivalRule }}</p>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>집회수칙</th>
                <td>
                    <ul>
                        {% for level4 in level4.all %}
                        {% if level4.level == '4' %}
                        <p>{{ level4.rallyRule }}</p>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>


{% endblock %}